*{
    color: #2d3c49;
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #7d97ad;
}
  
hr {
    border-color: #7d97ad;
    border-top: solid;
}

body{
	background-image: url("../images/wavy-dots.png");
	

}

.portifolio-grid {
      
    max-width: 1200px;
    width: 100%;
}

.portifolio-header {
    
    background-color: aquamarine;
    
	
   
}

.portifolio-fullname {
    margin: 20px 0 10px 0; 
}

.featured-work {
    margin-top: 30px;
}

.catalog-categories{
    margin-top:30px;
   

}

.login-button{
    margin: 4px;
}

.portifolio-work {
    overflow: hidden;
    border-style: none;
    padding: 0;
    border-radius: 0;
    margin-bottom: 10px;
  }
