*{
    color: #2d3c49;
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #7d97ad;
}
  

body{
	background-image: url("../images/wavy-dots.png");

}

.catalog-grid {
      
    max-width: 1200px;
    width: 100%;
}

.catalog-header {
    
    background-color: aquamarine;
   
}

.catalog-categories{
    margin-top:30px;
}

.login-button{
    margin: 4px;
}

.remove-side-padding{
    padding-right: 0px;
    padding-left: 0px;
}