{%extends "base.html"%}{%block body%}
				<div class="col-lg-12 card bg-light mb-3 remove-side-padding rounded ">

					<h2 class="card-header" >Add Item </h2>
						<form action="{{url_for('add_item')}} " method="POST" class="card-body">
								<div class="form-group">
									<label for="titleInput">Title</label>
									<input type="text" class="form-control" id="titleInput"  placeholder="Enter Title" type="text" name="item_title">
									
								</div>
								<div class="form-group">
									<label for="descriptionInput">Description</label>
									<input type="text" class="form-control" id="descriptionInput" placeholder="Enter Description"  type="text" 		     				 name="item_description">
								</div>
								<div class="form-group">
										<label for="categories-options">Category</label>
										<select class="form-control" id="categories-options"  name="category_id">
												{%for category in categories: %}
													<option  value="{{category.id}}">{{category.title}}</option>
												{%endfor%}
										</select>
									</div>
								<button type="submit" class="btn btn-primary">Submit</button>
						</form>

					</div>			
{%endblock%}

